
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #e5f5f8;
}

.head {
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #00718a;
    position: fixed;
    width: 100%
}

.navbar {
    display: flex;
    margin-right: 10px;
}

.logo {
    margin-left: 30px;
}


.navbar a {
    display: block;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Cinzel', serif;
    font-size: 20px;
}

.navbar a:hover {
    background: #121212;
}

.main-section {
    background-image: url(./img/1608570577_794085_1608570737_rrss_normal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin: 9% auto 0;
    width: 60vmax;
    height: 70vh;
    padding: 29px;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 7px 29px 0px;
}
.main-section h2 {
    text-transform: uppercase;
    font-size: 29px;
    color: #00718a;
}
.error{
color: red;
font-size: 20px;
background-color: black;
}
.container{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.form-side {
    width: 50%;
    margin-top: 2%;
}
.form-side form#form-search {
    display: flex;
    flex-direction: column;
}

.form-side #form-search select {
    font-size: inherit;
    margin: 8px 0px 7px;
    padding: 8px 5px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 7px;
    border: solid 1px #ada2a2;
    color: #736d6d;
}
input[type="submit"] {
    margin: 9px auto 0px;
    width: 50%;
    color: cadetblue;
    background-color: #00718a;
    border: solid 0px #ada2a2;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 7px 3px;
    color: #FFF;
    height: 37px;
    font-family: 'Times New Roman', Times, serif;
}
input[type="submit"]:hover {
    color: #00718a;
    background-color: #fff;
    border: solid 2px #00718a;
}
.display-info p span{
    font-weight: 650;
}
.display-info .main-price{
    font-size: 28px;
    margin-bottom: 2px;
}

.display-info{
    margin-top: 40px;
    color:#141414 ;
    background-color: #00718a;
}